<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 folha-receita">
            <div class=" row">
                <div class="col-md-4 faixa">
                    <br>
                    <br>
                    <span class="logo">
                        Softvet
                    </span>
                    <br>
                    <br>
                    <span class="titulo-dados">
                        Data da consulta:
                    </span>
                    <br>
                    <span class="dados">
                        11/11/2022
                    </span>
                    <br>
                    <br>
                    <span class="titulo-dados">
                        Nome do Animal:
                    </span>
                    <br>
                    <span class="dados">
                        Bobi
                    </span>
                    <br>
                    <br>
                    <span class="titulo-dados">
                        Nome do proprietário:
                    </span>
                    <br>
                    <span class="dados">
                        Miguel
                    </span>
                    <br>
                    <br>
                    <span class="titulo-dados">
                        Veterinário Responsável:
                    </span>
                    <br>
                    <span class="dados">
                        Jorge
                    </span>


                </div>

                <div class="col-md-8 receita">

                    <div class="titulo">
                        Receituário
                    </div>

                    <br>
                    <br>
                    <span class="dados-receita">
                        Recomenda-se fazer curativo 3x ao dia até a retirada do mesmo. Pode ser utilizado rifocina spray
                        (encontra-se a venda em farmácias), pomada alantol (encontra-se a venda em agropecuárias) ou
                        pomada de ungüento
                    </span>


                </div>
            </div>

        </div>
    </div>
    <!-- <div class="row">

        <div class="col-md-12 d-flex justify-content-end" style="background-color: red; ">
            <button type="button" class="btn btn-lg btn-secondary mr-5" (click)="voltar()">Voltar</button>
            <button type="button" class="btn btn-lg btn-secondary mr-5" (click)="imprimir()">Imprimir</button>
        </div>
    </div> -->

</div>