<po-page-default [p-actions]="actions" [p-breadcrumb]="breadCrumb" p-title="Listagem de Proprietários">

    <po-table [p-actions]="actionsTable" [p-columns]="columns" [p-items]="proprietarios">
  
      <ng-template p-table-column-template p-property="cpf" let-value> 
        <span [innerText]="value"></span>
      </ng-template>
  
      <ng-template p-table-column-template p-property="telefone" let-value>
        <span [innerText]="value"></span>
      </ng-template>
  
    </po-table>
  
  </po-page-default>
  <router-outlet></router-outlet>