<div class="container ">

    <po-page-list class="po-pt-4" p-title="Animais" [p-actions]="pageActions" [p-filter]="filterSettings">



        <div class="col-md-6 mt-4 ">
            <po-list-view [p-actions]="actions" [p-items]="animaisFiltrado">

                <ng-template p-list-view-content-template let-item [p-title]="formatTitle">

                    <div class="row">

                        <po-info class="col-md-6 text-break" p-label="Espécie" [p-value]="item.especie"></po-info>

                        <po-info class="col-md-6 text-break" p-label="Raça" [p-value]="item.raca"></po-info>


                    </div>
                </ng-template>

                <ng-template p-list-view-detail-template let-item>
                    <div class="row">
                        <po-info class="col-md-6 text-break" p-label="Idade" [p-value]="item.idade"></po-info>

                        <po-info class="col-md-6 text-break" p-label="Sexo" [p-value]="item.sexo"></po-info>
                    </div>
                    <div class="row">
                        <po-info class="col-md-6 text-break" p-label="Cor" [p-value]="item.cor"></po-info>

                        <po-info class="col-md-6 text-break" p-label="Altura" [p-value]="item.altura"></po-info>
                    </div>
                    <div class="row">
                        <po-info class="col-md-6 text-break" p-label="Peso" [p-value]="item.peso"></po-info>

                        <po-info class="col-md-6 text-break" p-label="Tipo Sanguíneo" [p-value]="item.tipoSangue">
                        </po-info>
                    </div>
                </ng-template>
            </po-list-view>
        </div>



    </po-page-list>

</div>