<po-modal #modal>

    <div class="container">
        <div class="novo-anendamento mb-4">
            <h2>Cadastrar Agendamento</h2>
        </div>


        <div class="container">

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


                <div class="po-row">
                    <div class="po-md-6">
                        <po-input formControlName="descricao" p-label="Descrição do evento:"></po-input>
                    </div>

                </div>

                <div class="po-row">
                    <div class="po-md-6">
                        <po-combo formControlName="animal" p-label="Animal: *" [p-clean]="true" [p-options]="animais">
                        </po-combo>
                    </div>
                    <div class="po-md-6">
                        <po-combo formControlName="veterinario" p-label="Veterinário: *" [p-clean]="true"
                            [p-options]="veterinarios">
                        </po-combo>
                    </div>
                </div>

                <div class="po-row">
                    <div class="po-md-6">
                        <po-combo formControlName="prioridade" p-label="Selecione a prioridade" [p-clean]="true"
                            [p-options]="prioridade">
                        </po-combo>
                    </div>
                    <div class="po-md-6">
                        <po-datepicker formControlName="dataRealizacao" p-label="Data de Realização: *">
                        </po-datepicker>
                    </div>

                </div>
                <po-modal-footer [p-disabled-align]="false">


                    <button type="reset" class="btn btn-danger mr-2" (click)="cancelar()">
                        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                    </button>

                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                </po-modal-footer>



            </form>
        </div>
    </div>

</po-modal>