<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink="/home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                </a>

                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#agendamentos"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    Agendamentos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="agendamentos" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/veterinarios-form">Cadastrar Agendamento</a>
                        <a class="nav-link" routerLink="/veterinarios-list">Listar Agendamentos</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#animais"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    Animais
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="animais" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/veterinarios-form">Cadastrar Animal</a>
                        <a class="nav-link" routerLink="/veterinarios-list">Listar Animais</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#consultas"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    Consultas
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="consultas" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/veterinarios-form">Realizar Consulta</a>
                        <a class="nav-link" routerLink="/veterinarios-list">Consultas Realizadas</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#medicamentos"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    Medicamentos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="medicamentos" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/veterinarios-form">Cadastrar Medicamento</a>
                        <a class="nav-link" routerLink="/veterinarios-list">Listar Medicamentos</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#proprietarios"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    Proprietários
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="proprietarios" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/proprietarios-form" >Cadastrar Proprietário</a>
                        <a class="nav-link" routerLink="/proprietarios-list">Listar Proprietários</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#veterinarios"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    Veterinários
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>

                </a>
                <div class="collapse" id="veterinarios" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/veterinarios-form">Cadastrar Veterinário</a>
                        <a class="nav-link" href="/veterinarios-list">Listar Veterinários</a>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading"><i class="fas fa-chart-area"></i> Relatórios</div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>