<h1 class="mt-4">Agendamentos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container mt-5">

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


        <div class="po-row">
            <div class="po-md-6">
                <po-input formControlName="descricao" p-label="Descrição do evento:"></po-input>
            </div>

        </div>

        <div class="po-row">
            <div class="po-md-6">
                <po-combo formControlName="animal" p-label="Animal: *" [p-options]="animais" [p-clean]="true">
                </po-combo>
            </div>
            <div class="po-md-6">
                <po-combo formControlName="veterinario" [p-options]="veterinarios" p-label="Veterinário: "
                    [p-clean]="true">
                </po-combo>
            </div>
        </div>

        <div class="po-row">
            <div class="po-md-6">
                <po-combo formControlName="prioridade" p-label="Selecione a prioridade" [p-options]="prioridade "
                    [p-clean]="true">
                </po-combo>
            </div>
            <div class="po-md-6">
                <po-datepicker formControlName="dataRealizacao" p-label="Data de Realização: *">
                </po-datepicker>
            </div>

        </div>
        <po-modal-footer [p-disabled-align]="false">


            <button type="reset" class="btn btn-danger mr-2" (click)="cancelar()">
                <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
            </button>

            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Salvar
            </button>
        </po-modal-footer>



    </form>
</div>