<!-- <div class="container">
  <h1>Listagem de Veterinários</h1>
  <br>
  <po-table #tabela [p-columns]="columns"
    [p-items]="[{ id: '1', nome: 'Miguel Antunes da Costa', cpf: '459.125.498-44', telefone: '(18)997371412', email: 'miguel.antunes.costa10@gmail.com' }]">
  </po-table>
  <br>
</div> -->

<po-page-default [p-actions]="actions" [p-breadcrumb]="breadCrumb" p-title="Listagem de Veterinários">

  <po-table [p-actions]="actionsTable" [p-columns]="columns" [p-items]="veterinarios">

    <ng-template p-table-column-template p-property="cpf" let-value>
      <span [innerText]="value | cpfCnpj"></span>
    </ng-template>

    <ng-template p-table-column-template p-property="telefone" let-value>
      <span [innerText]="value | phone"></span>
    </ng-template>

  </po-table>

</po-page-default>
<router-outlet></router-outlet>