<div class="container">
    <po-page-default p-title="Veterinário">
        <po-dynamic-view [p-fields]="campo" [p-value]="veterinario">

        </po-dynamic-view>
        <div class="row mt-4" *ngIf="roleAdmin">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-lg btn-danger mr-5" (click)="desligar()" *ngIf="ativo">Encerrar
                    Atividades</button>
                <button type="button" class="btn btn-lg btn-success mr-5" (click)="retomarAtividades()"
                    *ngIf="!ativo">Retomar
                    Atividades</button>
                <button type="button" class="btn btn-lg btn-secondary mr-5" (click)="editar()">Editar</button>

            </div>



        </div>

    </po-page-default>

</div>