<div class="container pb-5">
    <div class="row">
        <div class="col-6 mt-4">
            <div class="agendamentos">
                <h1>Agendamentos</h1>
            </div>


        </div>
    </div>

    <ol class="breadcrumb ">
        <li class="breadcrumb-item active">Calendário</li>
    </ol>

    <div class="row">

        <div class="col">
            <div class="text-left mt-3 mb-4 mr-4">
                <div class="novo-agendamento">
                    <div class="btn btn-outline-secondary" (click)="cadastrarAgendamento()">
                        Novo Agendamento
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class=" row text-center">

        <div class="col-md-4">

            <div class="btn-group">
                <div class="btn btn-outline-secondary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    Antes
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                    Hoje
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    Depois
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt-BR' }}</h3>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-outline-secondary" (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month">
                    Mês
                </div>
                <div class="btn btn-outline-secondary" (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">
                    Semana
                </div>
                <div class="btn btn-outline-secondary" (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">
                    Dia
                </div>
            </div>
        </div>
    </div>
    <br />

    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            locale="pt-BR">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase=" CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>

</div>